@media only screen and (max-width: 600px) {
    /* styles for screens smaller than 600px wide */
    body {
        font-size: 16px;
    }
    .container {
        width: 100%;
    }
}



.footer-clean {
  padding:50px 0;
  color:#f8f9fa;
}

.footer-clean h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
}

.footer-clean ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
}

.footer-clean ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-clean ul a:hover {
  opacity:1;
}

.footer-clean .item.social {
  text-align:right;
}

.footer-clean .item.social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin-left:10px;
  margin-top:22px;
  color:inherit;
  opacity:0.75;
}

.footer-clean .item.social > a:hover {
  opacity:0.9;
}

.footer-clean .copyright {
  margin-top:14px;
  margin-bottom:0;
  font-size:13px;
  opacity:0.6;
}
hr {
  border: 1px solid aqua;
  margin: 1rem;
  opacity: .25;
}
.card {
  background-color: #2b2d30;
  color: #fff;
  margin-left: 9px;
}

::-webkit-scrollbar {
	width: 10px;
	color: #ffffff;
}

::-webkit-scrollbar-track {
	background: #101014;
}

::-webkit-scrollbar-thumb {
	background: #4856ee;
	border-radius: 30px;
}

::-webkit-scrollbar-thumb:hover {
	background: #3c48c5;
}

::placeholder {
	/* Chrome, Firefox, Opera, Safari 10.1+ */
	color: rgb(219, 219, 219);
	opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: rgb(219, 219, 219);
}

::-ms-input-placeholder {
	/* Microsoft Edge */
	color: rgb(219, 219, 219);
}

.box{
  border-radius: 50%;
  width: 400px;
  height: 400px;
  position: relative;

  background: rgba(0,0,0,0.5);
  overflow: hidden;
}

.box::before
{
  content: '';
  position: absolute;
  inset: -10px 140px;
  background: linear-gradient(315deg, #00ccff, #00ff4b);
  transition: 0.5s;
  animation: animate 4s linear infinite;
}
.box:hover::before
{
  inset: -20px 0px;
}

@keyframes animate
{
  0%
  {
    transform: rotate(0deg);
  }
  100%
  {
    transform: rotate(360deg);
  }
}

.box::after
{
  content: '';
  position: absolute;
  inset: 6px;
  background: #B3B8BC;
  border-radius: 50%;
  z-index: 1;
}

.content
{
  position: absolute;
  inset: 30px;
  border: 6px solid #070alc;
  z-index: 3;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;

}

.content img
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
  pointer-events: none;
  z-index: 3;
}
.box:hover .content img
{
  opacity: 0;
}

.content h2
{
  position: relative;
  font-size: 1em;
  text-align: center;
  color: #000;
  font-weight: 600;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.content h2 span
{
  font-weight: 300;
  font-size: 0.75em
}
.content a
{
  position: relative;
  margin-top: 10px;
  padding: 10px 20px;
  background: #fff;
  color: #070a1c;
  border-radius: 25px;
  font-weight: 500;
  font-size: 1.25em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  text-decoration: none;
  transition: 0.5s

}

.content a:hover
{
  letter-spacing: 0.2em;
}

.circle1{

  width: 150px;
  height: 150px;

}

.shape2{

  border-radius: 50%;
  width: 300px;
  height: 300px;

  position: right;
}
.circle3{
  border-radius: 50%;
  width: 150px;
  height: 150px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

}

.logo{
  border-radius: 50%;
  width: 150px;
  height: 150px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.shape3{
  border-radius: 50%;
  width: 150px;
  filter: blur(1px);
  height: 150px;

}
.shape4{
  border-radius: 50%;
  width: 100px;
  height: 100px;
  position: right;
  filter: blur(3px);

}
.circle{
  border-radius: 50%;
  width: 150px;
  height: 150px;
  border: 2px solid blue;
  padding: 5px;

}

.container1 {
  margin: 0 auto;
  padding: 4rem;
  width: 48rem;
}

.accordion {
  .accordion-item {
    border-bottom: 1px solid $lightgray;
    button[aria-expanded='true'] {
      border-bottom: 1px solid $blue;
    }
  }
  button {
    position: relative;
    display: block;
    text-align: left;
    width: 100%;
    padding: 1em 0;
    color: $text;
    font-size: 1.15rem;
    font-weight: 400;
    border: none;
    background: none;
    outline: none;
    &:hover, &:focus {
      cursor: pointer;
      color: $blue;
      &::after {
        cursor: pointer;
        color: $blue;
        border: 1px solid $blue;
      }
    }
    .accordion-title {
      padding: 1em 1.5em 1em 0;
    }
    .icon {
      display: inline-block;
      position: absolute;
      top: 18px;
      right: 0;
      width: 22px;
      height: 22px;
      border: 1px solid;
      border-radius: 22px;
      &::before {
        display: block;
        position: absolute;
        content: '';
        top: 9px;
        left: 5px;
        width: 10px;
        height: 2px;
        background: currentColor;
      }
      &::after {
        display: block;
        position: absolute;
        content: '';
        top: 5px;
        left: 9px;
        width: 2px;
        height: 10px;
        background: currentColor;
      }
    }
  }
  button[aria-expanded='true'] {
    color: $blue;
    .icon {
      &::after {
        width: 0;
      }
    }
    + .accordion-content {
      opacity: 1;
      max-height: 9em;
      transition: all 200ms linear;
      will-change: opacity, max-height;
    }
  }
  .accordion-content {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 200ms linear, max-height 200ms linear;
    will-change: opacity, max-height;
    p {
      font-size: 1rem;
      font-weight: 300;
      margin: 2em 0;
    }
  }
}
$bg: #fff;
$text: #7288a2;
$gray: #4d5974;
$lightgray: #e5e5e5;
$blue: #03b5d2;

* {
  box-sizing: border-box;
  &::before, &::after {
    box-sizing: border-box;
  }
}

.container1 {
  margin: 0;
  padding: 0;
  font-family: 'Hind', sans-serif;
  background: $bg;
  color: $gray;
  display: flex;
  min-height: 100vh;
}



#faq {
  font-family: "IBM Plex Sans", sans-serif;

}



details {
  width: 75%;
  min-height: 5px;
  max-width: 700px;
  padding: 45px 70px 45px 45px;
  margin: 0 auto;
  position: relative;
  font-size: 22px;
  border: 3px solid #101014;
  border-radius: 15px;
  box-sizing: border-box;
  transition: all .3s;
}

details + details {
  margin-top: 20px;
}

details[open] {
  min-height: 50px;
  background-color: #f6f7f8;
  box-shadow: 2px 2px 20px rgba(0,0,0,.2);
}

details p {
  color: #96999d;
  font-weight: 300;
}

summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  cursor: pointer;
}

summary:focus {
  outline: none;

}

summary:focus::after {
  content: "";
  height: 100%;
  width: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 0 0 5px #00AAFF;
}

summary::-webkit-details-marker {
  display: none
}

.control-icon {
  fill: #00AAFF;
  transition: .3s ease;
  pointer-events: none;
  height: 7.5%;
  width: 7.5%;
}

.control-icon-close {
  display: none;
  height: 7.5%;
  width: 7.5%;
}

details[open] .control-icon-close {
  display: initial;
  transition: .3s ease;
}

details[open] .control-icon-expand {
  display: none;
}

.shape5{
  border-radius: 50%;
  width: 55px;
  height: 55px;
  position: right;

}